In [48]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
# edu=enduser/table structure
edutable=""" CREATE TABLE user (
            Userid VARCHAR(255) NOT NULL PRIMARY KEY,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Status INTEGER(25),
            Email VARCHAR(255),
            Password VARCHAR(255) NOT NULL
            ); """

#creates the table
cursor.execute(edutable)
cursor.close()
conn.close()

In [47]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE user")
conn.close()

In [20]:
import requests

response = requests.get("https://openlibrary.org/search.json?q=*&sort=rating&limit=100")
data = response.json()

In [44]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE book")
conn.close()

In [45]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()
bktable=""" CREATE TABLE book (
            Bookid VARCHAR(255) NOT NULL PRIMARY KEY,
            Title CHAR(25) NOT NULL,
            Author CHAR(25),
            Status INTEGER(25),
            Description TEXT,
            Date TEXT
            ); """

#creates the table
cursor.execute(bktable)
conn.close()

In [ ]:
import requests
import sqlite3
from dotenv import load_dotenv
import os
APIKEY = os.getenv("API_KEY")

conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

j=0
for  i in data["docs"]:
    params = {
        "q": i["title"], 
        "key":APIKEY,
    }
    response = requests.get("https://www.googleapis.com/books/v1/volumes",params=params)
    response.raise_for_status()
    data2 = response.json()
    data3=data2['items'][0]['volumeInfo']
    query = f"""INSERT INTO book 
                (Bookid, Title, Author, Status, Description, Date) 
                VALUES (?, ?, ?, ?, ?, ?)"""
    values = (
    f'B{j}', 
    i["title"], 
    data3['authors'][0], 
    0, 
    data3['description'],
    data3['publishedDate'],
    )
    cursor.execute(query, values)
    conn.commit()
    j=j+1
conn.close()

KeyError: 'description'

In [40]:
data3

# data2

{'title': 'Night Owls',
 'authors': ['Jenn Bennett'],
 'publisher': 'Simon and Schuster',
 'publishedDate': '2015-08-13',
 'description': "RITA Award for Best Young Adult Romance Feeling alive is always worth the risk... Meeting Jack on the Owl - San Francisco's night bus - turns Beatrix's world upside down. Jack is charming, wildly attractive . . . and possibly one of San Francisco's most notorious graffiti artists. On midnight rides and city rooftops, Beatrix begins to see who this enigmatic boy really is. But Jack is hiding much more - and can she uncover the truth that leaves him so wounded? A unique and profoundly moving novel, Night Owls will linger in your memory long after the final page. Praise for Night Owls “Take a contemporary San Francisco, add an undertone of classic Romeo and Juliet, some grit and viscera, and this story of two remarkable teens is the result…A thought-provoking exploration of art as an expression of love and pain.” Kirkus Reviews “An appealingly realistic romance that will curl toes and inspire sighs.” School Library Journal “Artsy, cool and everything you want a San Francisco adventure to be. Get ready to be swept away.” Maximum Pop “Fans of contemporary YA are sure to be won over with this compelling read.” Buzzfeed “Fresh, original, touching, addictive, beautiful, and crammed cover to cover with the white-hot intensity of first love.” Ann Aguirre, New York Times & USA Today bestselling author of the Razorland trilogy “If we could order up our dream young adult love story, it would look very much like Night Owls.”—iBooks’ Editors (one of iBooks UK Best Books of the Month for August 2015, iBooks US Best Books of the Month November 2015)",
 'industryIdentifiers': [{'type': 'ISBN_13', 'identifier': '9781471125317'},
  {'type': 'ISBN_10', 'identifier': '1471125319'}],
 'readingModes': {'text': True, 'image': False},
 'pageCount': 266,
 'printType': 'BOOK',
 'categories': ['Juvenile Fiction'],
 'maturityRating': 'NOT_MATURE',
 'allowAnonLogging': True,
 'contentVersion': '1.15.10.0.preview.2',
 'panelizationSummary': {'containsEpubBubbles': False,
  'containsImageBubbles': False},
 'imageLinks': {'smallThumbnail': 'http://books.google.com/books/content?id=06ydBAAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api',
  'thumbnail': 'http://books.google.com/books/content?id=06ydBAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api'},
 'language': 'en',
 'previewLink': 'http://books.google.co.in/books?id=06ydBAAAQBAJ&printsec=frontcover&dq=Night+Owl&hl=&cd=1&source=gbs_api',
 'infoLink': 'http://books.google.co.in/books?id=06ydBAAAQBAJ&dq=Night+Owl&hl=&source=gbs_api',
 'canonicalVolumeLink': 'https://books.google.com/books/about/Night_Owls.html?hl=&id=06ydBAAAQBAJ'}