In [1]:
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

In [3]:
# edu=enduser/table structure
edutable=""" CREATE TABLE user (
            Userid VARCHAR(255) NOT NULL PRIMARY KEY,
            First_Name CHAR(25) NOT NULL,
            Last_Name CHAR(25),
            Stuatus INTEGER(25),
            Email VARCHAR(255),
            Password VARCHAR(255) NOT NULL
            ); """

#creates the table
cursor.execute(edutable)

In [ ]:
# kill switch
cursor.execute("DROP TABLE user")